BL/Service References/ZakaznikReference/ZakaznikService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Zakaznik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdZak" type="xs:int" />
      <xs:element minOccurs="0" name="Jmeno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prijmeni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zakaznik" nillable="true" type="tns:Zakaznik" />
  <xs:complexType name="ArrayOfZakaznik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Zakaznik" nillable="true" type="tns:Zakaznik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZakaznik" nillable="true" type="tns:ArrayOfZakaznik" />
</xs:schema>