BL/Service References/FilmZanrReference/FilmZanrService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FilmZanrService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55758/ServiceDir/FilmZanrService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55758/ServiceDir/FilmZanrService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55758/ServiceDir/FilmZanrService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
      <xsd:import schemaLocation="http://localhost:55758/ServiceDir/FilmZanrService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NullDTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFilmZanrService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IFilmZanrService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IFilmZanrService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IFilmZanrService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IFilmZanrService_SelectBy_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectBy" />
  </wsdl:message>
  <wsdl:message name="IFilmZanrService_SelectBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByResponse" />
  </wsdl:message>
  <wsdl:message name="IFilmZanrService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IFilmZanrService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IFilmZanrService">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilmZanrService/Insert" message="tns:IFilmZanrService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilmZanrService/InsertResponse" message="tns:IFilmZanrService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilmZanrService/Select" message="tns:IFilmZanrService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilmZanrService/SelectResponse" message="tns:IFilmZanrService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilmZanrService/SelectBy" message="tns:IFilmZanrService_SelectBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilmZanrService/SelectByResponse" message="tns:IFilmZanrService_SelectBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilmZanrService/Delete" message="tns:IFilmZanrService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilmZanrService/DeleteResponse" message="tns:IFilmZanrService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFilmZanrService" type="tns:IFilmZanrService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IFilmZanrService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IFilmZanrService/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectBy">
      <soap:operation soapAction="http://tempuri.org/IFilmZanrService/SelectBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IFilmZanrService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilmZanrService">
    <wsdl:port name="BasicHttpBinding_IFilmZanrService" binding="tns:BasicHttpBinding_IFilmZanrService">
      <soap:address location="http://localhost:55758/ServiceDir/FilmZanrService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>