BL/Service References/RecenzeReference/RecenzeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Recenze">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cislo" type="xs:int" />
      <xs:element minOccurs="0" name="Datum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdFilm" type="xs:int" />
      <xs:element minOccurs="0" name="IdZak" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recenze" nillable="true" type="tns:Recenze" />
</xs:schema>