BL/Service References/ZanrReference/ZanrService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Zanr">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdZanr" type="xs:int" />
      <xs:element minOccurs="0" name="Nazev" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zanr" nillable="true" type="tns:Zanr" />
  <xs:complexType name="ArrayOfZanr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Zanr" nillable="true" type="tns:Zanr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZanr" nillable="true" type="tns:ArrayOfZanr" />
</xs:schema>