BL/Service References/FilmReference/FilmService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Film">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cena" type="xs:int" />
      <xs:element minOccurs="0" name="Delka" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdFilm" type="xs:int" />
      <xs:element minOccurs="0" name="Kusu" type="xs:int" />
      <xs:element minOccurs="0" name="Nazev" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Popis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rok" type="xs:int" />
      <xs:element minOccurs="0" name="Typ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zeme" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Film" nillable="true" type="tns:Film" />
  <xs:complexType name="ArrayOfFilm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Film" nillable="true" type="tns:Film" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilm" nillable="true" type="tns:ArrayOfFilm" />
</xs:schema>