BL/Service References/OsZamServiceReference/OsZamFilmService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OsZamFilm">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdFilm" type="xs:int" />
      <xs:element minOccurs="0" name="IdOsoba" type="xs:int" />
      <xs:element minOccurs="0" name="IdZam" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OsZamFilm" nillable="true" type="tns:OsZamFilm" />
  <xs:complexType name="ArrayOfOsZamFilm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OsZamFilm" nillable="true" type="tns:OsZamFilm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOsZamFilm" nillable="true" type="tns:ArrayOfOsZamFilm" />
</xs:schema>