BL/Service References/OsZamServiceReference/OsZamFilmService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OsZamFilmService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55758/ServiceDir/OsZamFilmService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55758/ServiceDir/OsZamFilmService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55758/ServiceDir/OsZamFilmService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
      <xsd:import schemaLocation="http://localhost:55758/ServiceDir/OsZamFilmService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NullDTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOsZamFilmService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IOsZamFilmService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IOsZamFilmService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IOsZamFilmService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IOsZamFilmService_SelectBy_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectBy" />
  </wsdl:message>
  <wsdl:message name="IOsZamFilmService_SelectBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByResponse" />
  </wsdl:message>
  <wsdl:message name="IOsZamFilmService_Detail_InputMessage">
    <wsdl:part name="parameters" element="tns:Detail" />
  </wsdl:message>
  <wsdl:message name="IOsZamFilmService_Detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetailResponse" />
  </wsdl:message>
  <wsdl:message name="IOsZamFilmService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IOsZamFilmService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IOsZamFilmService">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IOsZamFilmService/Insert" message="tns:IOsZamFilmService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOsZamFilmService/InsertResponse" message="tns:IOsZamFilmService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IOsZamFilmService/Select" message="tns:IOsZamFilmService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOsZamFilmService/SelectResponse" message="tns:IOsZamFilmService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IOsZamFilmService/SelectBy" message="tns:IOsZamFilmService_SelectBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOsZamFilmService/SelectByResponse" message="tns:IOsZamFilmService_SelectBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Detail">
      <wsdl:input wsaw:Action="http://tempuri.org/IOsZamFilmService/Detail" message="tns:IOsZamFilmService_Detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOsZamFilmService/DetailResponse" message="tns:IOsZamFilmService_Detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IOsZamFilmService/Delete" message="tns:IOsZamFilmService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOsZamFilmService/DeleteResponse" message="tns:IOsZamFilmService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOsZamFilmService" type="tns:IOsZamFilmService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IOsZamFilmService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IOsZamFilmService/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectBy">
      <soap:operation soapAction="http://tempuri.org/IOsZamFilmService/SelectBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Detail">
      <soap:operation soapAction="http://tempuri.org/IOsZamFilmService/Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IOsZamFilmService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OsZamFilmService">
    <wsdl:port name="BasicHttpBinding_IOsZamFilmService" binding="tns:BasicHttpBinding_IOsZamFilmService">
      <soap:address location="http://localhost:55758/ServiceDir/OsZamFilmService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>