BL/Service References/OsobaReference/OsobaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OsobaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55758/ServiceDir/OsobaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55758/ServiceDir/OsobaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55758/ServiceDir/OsobaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
      <xsd:import schemaLocation="http://localhost:55758/ServiceDir/OsobaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NullDTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOsobaService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IOsobaService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IOsobaService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IOsobaService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IOsobaService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IOsobaService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IOsobaService_SelectBy_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectBy" />
  </wsdl:message>
  <wsdl:message name="IOsobaService_SelectBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByResponse" />
  </wsdl:message>
  <wsdl:message name="IOsobaService_Detail_InputMessage">
    <wsdl:part name="parameters" element="tns:Detail" />
  </wsdl:message>
  <wsdl:message name="IOsobaService_Detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetailResponse" />
  </wsdl:message>
  <wsdl:message name="IOsobaService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IOsobaService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IOsobaService">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IOsobaService/Insert" message="tns:IOsobaService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOsobaService/InsertResponse" message="tns:IOsobaService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IOsobaService/Update" message="tns:IOsobaService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOsobaService/UpdateResponse" message="tns:IOsobaService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IOsobaService/Select" message="tns:IOsobaService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOsobaService/SelectResponse" message="tns:IOsobaService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IOsobaService/SelectBy" message="tns:IOsobaService_SelectBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOsobaService/SelectByResponse" message="tns:IOsobaService_SelectBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Detail">
      <wsdl:input wsaw:Action="http://tempuri.org/IOsobaService/Detail" message="tns:IOsobaService_Detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOsobaService/DetailResponse" message="tns:IOsobaService_Detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IOsobaService/Delete" message="tns:IOsobaService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOsobaService/DeleteResponse" message="tns:IOsobaService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOsobaService" type="tns:IOsobaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IOsobaService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IOsobaService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IOsobaService/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectBy">
      <soap:operation soapAction="http://tempuri.org/IOsobaService/SelectBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Detail">
      <soap:operation soapAction="http://tempuri.org/IOsobaService/Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IOsobaService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OsobaService">
    <wsdl:port name="BasicHttpBinding_IOsobaService" binding="tns:BasicHttpBinding_IOsobaService">
      <soap:address location="http://localhost:55758/ServiceDir/OsobaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>