BL/Service References/OsobaReference/OsobaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Osoba">
    <xs:sequence>
      <xs:element minOccurs="0" name="Biografie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdOsoba" type="xs:int" />
      <xs:element minOccurs="0" name="Jmeno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prijmeni" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Osoba" nillable="true" type="tns:Osoba" />
  <xs:complexType name="ArrayOfOsoba">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Osoba" nillable="true" type="tns:Osoba" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOsoba" nillable="true" type="tns:ArrayOfOsoba" />
</xs:schema>