BL/Service References/ObjednavkaReference/ObjednavkaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NullDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NullDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObjednavkaNull">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdFilm" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdVydejce" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdZak" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Vraceno" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Vydano" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjednavkaNull" nillable="true" type="tns:ObjednavkaNull" />
</xs:schema>