BL/Service References/ObjednavkaReference/ObjednavkaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Objednavka">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumObj" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatumVraceni" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatumVydani" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DobaPujceni" type="xs:int" />
      <xs:element minOccurs="0" name="IdFilm" type="xs:int" />
      <xs:element minOccurs="0" name="IdObj" type="xs:int" />
      <xs:element minOccurs="0" name="IdVydejce" type="xs:int" />
      <xs:element minOccurs="0" name="IdZak" type="xs:int" />
      <xs:element minOccurs="0" name="Vraceno" type="xs:boolean" />
      <xs:element minOccurs="0" name="Vydano" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Objednavka" nillable="true" type="tns:Objednavka" />
  <xs:complexType name="ArrayOfObjednavka">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Objednavka" nillable="true" type="tns:Objednavka" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjednavka" nillable="true" type="tns:ArrayOfObjednavka" />
</xs:schema>